@{
    ViewBag.Title = "Home Page";
}
<div class="homebackground">
    <div class="jumbotron jumbohome">
        <h1 class="text-center">Tech-Know</h1>
        <p class="lead">Tech-Know allows users to write their own 'melodies' about the hottest new tech gear</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail thumbnail-default">
                <div class="caption">
                    <h2 class="text-center">
                        Categories
                    </h2>
                    <p>View all the categories of tech gear to review</p>
                    <p>If we don't have the category you want, create it!</p>
                    <p><a class="btn btn-default" href="~/Categories/Index/">Categories &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail thumbnail-default">
                <div class="caption">
                    <h2 class="text-center">
                        Reviews
                    </h2>
                    <p>View all the Reviews of the hottest tech items in the industry</p>
                    <p>Or write a review of your own!</p>
                    <p><a class="btn btn-default" href="~/Reviews/Index/">Reviewss &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>

    <div style="position:relative;width:267px;height:25px;overflow:hidden;">
        <div style="position:absolute;top:-276px;left:-5px">
            <iframe src="https://www.youtube.com/embed/NjU0hTIsHxg?autoplay=1"></iframe>
        </div>
    </div>
</div>